
.message{
  position: relative;
  font-size: 14px;
  border-radius: 12px;
  background-color: #fff;
  color: #011627;
  width: fit-content;
  max-width: 50%;
  padding: 5px 8px;
  margin: 0 0 5px 0;
}

.message .s-d{
  display: block;
  font-size: 12px;
  text-align: right;
}

.message .s-d i{
  animation: none;
  margin-left: 5px;
}

.message.to-me{
  background-color: #fff;
}

.message.from-me{
  background-color: #78E378;
  margin-left: auto;
}

.message.from-me span{
  color: #fff;
}

.message-read{
  color: #0b4bf8 !important;
}