.chat-parent{
    display: flex;
    min-height: 100%;
}

.chat-parent aside {
  width: 25%;
  min-height:100%;
  /* position: fixed; */
  border-right: 1px solid #D9DCE0;
}

.chat-clients .utils{
  display: flex;
  padding: 20px;
}

.chat-clients .utils i{
  color: #707991;
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
}

.chat-clients .utils input{
  width: 240px;
  outline: none;
  border: none;
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 30px;
}

.chat-parent .open-ware {
  width: 75%;
  min-height: 100%;
  position: relative;
  /* left: 25%; */
  overflow: hidden;
}

.activity-actions{
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  z-index: 10;
  background-color: #fff;
  width: 100%;
}

.activity-actions .initials{
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100%;
  background-color: #8BABD8;
  margin-right: 10px;
}

.activity-actions .current{
  display: flex;
  align-items: center;
}

.activity-actions .current .v p{
  margin: 0;
}

.activity-actions .current .v .recepient{
  font-size: 16px;
  font-family: "Poppins-Medium";
}

.activity-actions .current .v .status{
  font-size: 14px;
  color: #707991;
}

.activity-icons i{
  height: 50px;
  width: 50px;
  text-align: center;
  align-content: center;
}

.chat-content{
  /* position: relative; */
  height: 100%;
  padding: 10px 20px;
  /* margin-top: 70px; */
  background-image: url('/assets/images/bg-print.png');
  background-size: contain;
  background-color: #8BABD8;
}

.message-bottom{
  position: absolute;
  width: 95%;
  bottom: 20px;
}

.messaging-actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #fff;
  border-radius: 12px;
}

.messaging-actions button{
  padding: 5px 10px;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
}

.messaging-actions i{
  height: 30px;
  width: 30px;
  text-align: center;
  align-content: center;
}

.messaging-actions input{
  padding: 10px;
  width: 100%;
  height: 20px;
  font-size: 12px;
  border: none;
  outline: none;
}

.messages{
  height: inherit;
  top: 0;
  bottom: 70px;
  margin-bottom: 70px;
  align-content: flex-end;
  padding-bottom: 150px;
}

.msg-content{
  position: absolute;
  top: 70px;
  width: 98%;
  height: 75%;
  overflow-y: auto;
  padding-bottom: 80px; 
  padding-right: 20px;
}

.new-chat-dialog p:first-of-type{
  margin: 0;
  font-family: 'Poppins-Medium';
  font-size: 16px;
}

.new-chat-dialog p.err{
  margin: 20px 0 0 0;
  font-family: 'Poppins-Medium';
  font-size: 12px;
  color: #e92b2b;
}

.new-chat-dialog label{
  font-size: 14px;
  display: block;
}

.new-chat-dialog input{
  font-size: 14px;
  border-radius: 25px;
  border: 1px solid #8BABD8;
  outline: none;
  width: 100%;
  margin-top: 5px;
  padding: 10px;
}

.btn-group{
  margin-top: 15px;
  text-align: center;
}