<div class="chat-parent">
  <aside class="chat-clients">
    <div class="utils">
      <span><i class="fa fa-bars"></i></span>
      <span (click)="newChat(true)"><i class="fa fa-plus"></i></span>
      <span><input type="text" name="search" [(ngModel)]="q" [ngModelOptions]="{ standalone: true}"></span>
    </div>
    <div class="recent-chats">
      <chat-head *ngFor="let head of recentChats" [head]="head" (click)="loadUser(head)"></chat-head>
    </div>
  </aside>
  <div class="open-ware">
    <open-ware *ngIf="selectedHead" [selectedHead]="selectedHead" 
    (sendMessage)="sendMessage($event)"
    (placeCall)="newCall($event)"></open-ware>
  </div>
  
  <dialog-box *ngIf="chatDialog" (closeChange)="newChat($event)"> 
   <div class="new-chat-dialog">
    <p>New Chat</p>
    <p class="err" *ngIf="sError">{{sError}}</p>
    <label for="username" [ngClass]="{'mt-20': !sError}">Username</label>
    <input type="text" placeholder="enter username" (keypress)="kUsr($event)" [(ngModel)]="searchUser" [ngModelOptions]="{ standalone: true}">
    <div class="btn-group">
      <button class="default-btn btn-sm" (click)="newChat(false)">Cancel</button>
      <button class="theme-btn btn-sm" (click)="isUser(searchUser)">Search</button>
    </div>
   </div>
  </dialog-box>
  
<modal-dialog *ngIf="callDialog" size="lg">
  <!-- <modal-dialog *ngIf="true" size="lg"> -->
    <meeting (endMeetChange)="newCall(false)" (sendStream)="streamAudio($event)" [callData]="callingData"></meeting>
</modal-dialog>
</div>
