<div class="chat-parent">
  <aside class="chat-clients">
    <div class="utils">
      <span><i class="fa fa-bars"></i></span>
      <span (click)="newChat(true)"><i class="fa fa-plus"></i></span>
      <span><input type="text" name="search" [(ngModel)]="q" [ngModelOptions]="{ standalone: true}"></span>
    </div>
    <div class="recent-chats">
      <chat-head *ngFor="let head of recentChats" [head]="head" (click)="loadUser(head)"></chat-head>
    </div>
  </aside>
  <div class="open-ware">
    <div class="activity-actions">
      <div class="current">
        <div class="initials"></div>
        <div class="v">
          <p class="recepient">{{selectedUser?.displayName}}</p>
          <p class="status">{{selectedUser?.lastActiveTime | date: 'dd MMM yyyy'}}</p>
        </div>
      </div>
      <div class="activity-icons">
        <span><i class="fa fa-search"></i></span>
        <span><i class="fa fa-phone"></i></span>
        <span><i class="fa fa-ellipsis-vertical"></i></span>
      </div>
    </div>
    <div class="chat-content">
      <div class="messages">
         <!-- <div class="msg-content">
        </div> -->
          <chat-message *ngFor="let message of selectedUser?.chats" [usr]="currentUser" [message]="message"></chat-message>
          
      </div>
      <div class="message-bottom">
        <div class="messaging-actions">
          <button (click)="showEmoji()"><i class="fa fa-smile"></i></button>
          <input type="text" placeholder="Type a messaff" (keypress)="kmsg($event)" [(ngModel)]="message" [ngModelOptions]="{ standalone: true }">
          <button (click)="sendMessage()"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>
    </div>
  </div>
  <dialog-box *ngIf="dialogVisible" (closeChange)="newChat($event)">
   <div class="new-chat-dialog">
    <p>New Chat</p>
    <p class="err" *ngIf="sError">{{sError}}</p>
    <label for="username" [ngClass]="{'mt-20': !sError}">Username</label>
    <input type="text" placeholder="enter username" (keypress)="sUsr($event)" [(ngModel)]="searchUser" [ngModelOptions]="{ standalone: true}">
    <div class="btn-group">
      <button class="default-btn btn-sm" (click)="newChat(false)">Cancel</button>
      <button class="theme-btn btn-sm" (click)="isUser(searchUser)">Search</button>
    </div>
   </div>
  </dialog-box>
</div>
